<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="connStr" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=MyFirstDatabase;Integrated Security=True" />
  <add name="SQLStartingProject.Properties.Settings.MyFirstDatabaseConnectionString"
   connectionString="Data Source=PAULSLAPTOP\SQLEXPRESS;Initial Catalog=MyFirstDatabase;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<appSettings>
		<add key="logLevel" value="4" />
		<add key="LogerFatal" value="../../Logs/log-fatal.txt"/>
		<add key="LoggerError" value="../../Logs/log-error.txt"/>
		<add key="LoggerWarn" value="../../Logs/log-warn.txt"/>
		<add key="LoggerInfo" value="../../Logs/log-info.txt"/>
		<add key="LoggerDebug" value="../../Logs/log-debug"/>
		<add key="LoggerTrace" value="../../Logs/log-Trace"/>
	</appSettings>
</configuration>